<ion-header>
  <ion-navbar>
    <ion-title>
      Pedigree
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refrescar($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="refrescando..."></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let pedigree of mispedigree">
        <ion-card class="card-pedigree" (click)="verpedigree(pedigree)">
          <img src="{{buscarimagenp(pedigree.imagenes,pedigree.mascota_id,pedigree.usuario_id)}}" *ngIf="pedigree.imagenes" />
          <img src="assets/img/mascota.png" *ngIf="!pedigree.imagenes" />
          <div>
            <h4>
              {{pedigree.nombrepedigree}}
            </h4>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>