<ion-header>
    <ion-navbar>
        <ion-title style="z-index: -1;">
            Pedigree
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content #popoverContent>
    <!--[style.background-color]="color"-->
 <!--    <ion-item *ngIf="caso==1">
        <ion-label color="pesto-scondary-text">Chosee a pet</ion-label>
        <ion-select interface="action-sheet" cancelText="cancel" [(ngModel)]="mascota" (ionChange)="cambiarmascosta()">
            <ion-option *ngFor="let item of mismascotas" [value]="item">{{item.nombre}}</ion-option>
        </ion-select>
    </ion-item>
 -->
    <ion-grid *ngIf="mascota">

        <ion-row *ngIf="path" justify-content-center>
            <ion-col col-5>
                <img src="{{path}}" />{{mascota.nombre}}</ion-col>
        </ion-row>

        <ion-row *ngIf="!path" justify-content-center>
            <ion-col col-5>
                <img src="assets/img/mascota.png" />{{mascota.nombre}}</ion-col>
        </ion-row>
        <ion-row *ngIf="linea1" justify-content-center>
            <ion-col col-4 align-self-end *ngFor="let item of linea1; let i =index" (click)="editaritem('linea1',i,item)">
                <ion-card class="card-pedigree">
                    <img src="{{item.imagen}}" *ngIf="item.imagen" />
                    <div class="card-subtitle">{{item.nombre}}</div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="linea2" justify-content-center>
            <ion-col col-3 align-self-end *ngFor="let item of linea2; let i =index" (click)="editaritem('linea2',i,item)">
                <ion-card class="card-pedigree">
                        <img src="{{item.imagen}}" *ngIf="item.imagen" />
                        <div class="card-subtitle">{{item.nombre}}</div>
                    </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="linea3" justify-content-center>
            <ion-col col-1.5 align-self-end *ngFor="let item of linea3; let i =index" (click)="editaritem('linea3',i,item)">
                <ion-card class="card-pedigree">
                        <img src="{{item.imagen}}" *ngIf="item.imagen" />
                        <div class="card-subtitle">{{item.nombre}}</div>
                    </ion-card>

            </ion-col>
        </ion-row>
    
    </ion-grid>




    <!--     <ion-fab right top *ngIf="mascota && caso==1">
        <button ion-fab color="primary-pets" (click)="agregaritem()">
            <ion-icon name="add" color="secondary-pets-l"></ion-icon>
        </button> 
        <ion-fab-list side="left">
                          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
                        </ion-fab-list>
                 </ion-fab>
                 -->

    <ion-fab right bottom>
        <button ion-fab color="light">
            <ion-icon name="arrow-dropleft"></ion-icon>
        </button>
        <ion-fab-list side="left">
            <button ion-fab (click)="cancelar()">
                <ion-icon name="close" ></ion-icon>
            </button>
            <button ion-fab (click)="guardarpedigree()"  *ngIf="mascota && caso==1">
                <ion-icon name="cloud-upload"></ion-icon>
            </button>
            <button ion-fab (click)="presentPopover($event)">
                <ion-icon name="ios-color-fill" [style.color]="color"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>


</ion-content>