<ion-header>
    <ion-navbar>
        <ion-title style="z-index: -1;">
          {{nombre}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>


    <ion-list>
        <ion-item *ngIf="estado!=2">
            <ion-label color="pesto-scondary-text">Escoger mascota de mybreed</ion-label>
            <ion-select interface="action-sheet" cancelText="cancel" [(ngModel)]="mascota" (ionChange)="cambiarmascosta()">
                <ion-option *ngFor="let item of mismascotas" [value]="item">{{item.nombre}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item style="border-color: white;">
            <ion-label color="secondary-pets-l" floating>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>
        <ion-grid *ngIf="mascota">
            <ion-row *ngIf="path" justify-content-center>
                <ion-col col-5>
                    <img src="{{path}}" />{{nombre}}</ion-col>
            </ion-row>
        </ion-grid>

        <div style="text-align:center" *ngIf="estado!=2">
            <button ion-button outline color="primary" type="button" (click)="presentConfirm(1,2)">Cambiar Imagen</button>
        </div>

            <div style="text-align:center" *ngIf="estado!=2">
                <button ion-button type="button" color="secondary-pets-l" outline (click)="guardar()">Editar</button>
            </div>

            <div style="text-align:center">
                <button ion-button outline color="secondary-pets-l" type="button" (click)="cancelar()">Volver</button>
            </div>

    </ion-list>

</ion-content>