page-buscador {
    ion-content{
      background-image: url('http://167.114.185.216/servicios54/storage/app/img/p2.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
  }
}
page-chat-room {
    #myInput {
        width:100%;
        border: 0;
        border-radius: 0;
        background: transparent;
    }
    .toolbar-title {
        white-space: unset  !important;
    }
    .user_name {
        color: #afafaf;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: color($colors, primary) !important;
        color: #000 !important;
    }
    .other_message {
        background: #dcdcdc !important;
        color: #f59805 !important;
    }
    .time {
        color: #afafaf;
        float: right;
        font-size: small;
    }
    .message_row {
        background-color: white;
    }
}
