<ion-header>
  <ion-navbar >
    <ion-title  style="z-index:-1">
      chat con {{name}}
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="agregarfuente()" color="secondary-pets-l">
        <ion-icon name="folder"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">

      <ion-col col-9 *ngIf="message.usuario_recibe !== id" class="message" [ngClass]="'other_message'">
        <div *ngIf="message.tipo==1" [innerHtml]="pruebaf(message.mensaje)" (click)="vermascota(message.mensaje)">

        </div>
        <div *ngIf="message.tipo==2" [innerHtml]="pruebap2(message.mensaje)" (click)="verproducto(message.mensaje)">
        </div>
        <div *ngIf="message.tipo==3" [innerHtml]="pedigre(message.mensaje)" (click)="verpedigree(message.mensaje)">
        </div>
        <div *ngIf="message.tipo==4" [innerHtml]="imgruta(message.mensaje)" (click)="verimagen(message.mensaje)">
        </div>

        <div *ngIf="message.tipo==0">
          <span>{{ message.mensaje }}</span>
        </div>
        <p style="    width: 30%;
        float: right;
        padding: 0;
        margin: 0;">
        {{horautc(message.creado)}}
      </p>

      </ion-col>
      <ion-col offset-3 col-9 *ngIf="message.usuario_recibe == id" class="message" [ngClass]="'my_message'">
        <div *ngIf="message.tipo==1" [innerHtml]="pruebaf(message.mensaje)" (click)="vermascota(message.mensaje)">
        </div>
        <div *ngIf="message.tipo==2" [innerHtml]="pruebap2(message.mensaje)" (click)="verproducto(message.mensaje)">
        </div>
        <div *ngIf="message.tipo==3" [innerHtml]="pedigre(message.mensaje)" (click)="verpedigree(message.mensaje)">
        </div>
        <div *ngIf="message.tipo==4" [innerHtml]="imgruta(message.mensaje)" (click)="verimagen(message.mensaje)">
        </div>

        <div *ngIf="message.tipo==0">
          <span>{{ message.mensaje }}</span>
        </div>
        <p style="    width: 30%;
        float: right;
        padding: 0;
        margin: 0;">
          {{horautc(message.creado)}}
        </p>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer  style="background-color: white !important">
  <ion-toolbar>
    <ion-row class="message_row">
      <ion-col col-10>
        <ion-item no-lines  style="background-color: white !important">
<!--           <ion-input type="text" ></ion-input>
 -->          
 <ion-textarea type="text" rows="2" style="background-color: white !important" #myInput placeholder="Escribir un mensaje" [(ngModel)]="message" maxLength="500" (keyup)="resize()"></ion-textarea>

        </ion-item>
      </ion-col>
      <ion-col col-2 >
        <button ion-button icon-only  color="primary-pets"   (click)="sendMessage()" [disabled]="message === ''">
            <ion-icon name="send" color="secondary-pets-l"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>