<!--
  Generated template for the PedigremetterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="false">
    <form action=".">
      <ion-searchbar placeholder="Buscar Mascota para editar" *ngIf="!unirpedi" [type]="search" [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
      <ion-searchbar placeholder="Buscar" *ngIf="unirpedi" [type]="search" [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </form>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="unirpedi" style="margin-top: 60%">
    <div style="text-align:center">
      <h3 style="color: #f59805">
        {{msj}}
      </h3>

      <button ion-button type="button" color="danger" outline (click)="cancelarunir()">Cancelar Unir pedigree</button>
    </div>
  </div>
  <div *ngIf="!items" style="margin-top: 60%">
    <div *ngIf="!unirpedi">
      <div style="text-align:center">
        <button ion-button type="button" color="secondary-pets-l" outline (click)="unir()">Unir Pedigree</button>
      </div>
      <div style="text-align:center">
        <button ion-button outline color="secondary-pets-l" type="button" (click)="nuevo()">Crear Pedigree</button>
      </div>
    </div>

  </div>
  <div style="text-align:center">
    <h3 style="color: #f59805">
      {{va_estado}}
    </h3>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let item of items" (click)="verpedigree(item)" style="
    width:  100%;
    margin-left:  0;
    padding-left:  3px;
    padding-right:  3px;
    padding-top: 0px;
    height:100%,
    ">
        <ion-card style="margin-left: 0;margin-right: 0;width: 100%;
        background-color: transparent;
        border: solid 1px white;
        border-radius: 5px;">
          <img src="http://66.175.220.111{{item.img}}" *ngIf="item.img" />
          <img src="assets/img/mascota.png" *ngIf="!item.img" />

          <div class="card-subtitle">
            <h4 style="color:#f59805">{{item.nombre}}</h4>
            <p>{{item.race}} - {{item.sex==1?'Macho':'Hembra'}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>