<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title style="z-index: -1;">
      Pedigree
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content #popoverContent>

  <ion-grid>
    <ion-row>
      <ion-col col-3.75>
        <img src="assets/img/separador.png">
      </ion-col>
      <ion-col col-4.5>
        <p  style="color: #264b65;
        font-size: 1em;
        font-weight: bold;padding: 0px !important">
            MyBreed App
        </p>
      </ion-col>
      <ion-col col-3.75>
        <img src="assets/img/separador.png">
      </ion-col>
    </ion-row>
    <ion-row justify-content-center *ngIf="linea0">
      <ion-col col-5 (click)="editaritem('linea0',1  ,linea0)">
        <ion-card class="card-pedigree">
          <img src="{{linea0.imagen}}" *ngIf="linea0.imagen" />
          <div class="card-subtitle">{{linea0.nombre}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="linea1" justify-content-center>
      <ion-col col-4 *ngFor="let item of linea1; let i =index" (click)="editaritem('linea1',i,item)">
        <ion-card class="card-pedigree">
          <img src="{{item.imagen}}" *ngIf="item.imagen" />
          <div class="card-subtitle">{{item.nombre}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="linea2" justify-content-center>
      <ion-col col-3 *ngFor="let item of linea2; let i =index" (click)="editaritem('linea2',i,item)">
        <ion-card class="card-pedigree">
          <img src="{{item.imagen}}" *ngIf="item.imagen" />
          <div class="card-subtitle">{{item.nombre}}</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3.75>
          <img src="assets/img/separador.png">
        </ion-col>
        <ion-col col-4.5>
          <p  style="color: #264b65;
          font-size: 1em;
          font-weight: bold;padding: 0px !important">
              MyBreed App
          </p>
        </ion-col>
        <ion-col col-3.75>
          <img src="assets/img/separador.png">
        </ion-col>
      </ion-row>
   
  </ion-grid>
  <div style="    opacity: 0.2;
  margin-top: 0;
  padding-top: 0;">
    <img src="assets/img/icon2.png">
  </div>
  <ion-fab right bottom *ngIf="estado">
    <button ion-fab color="light">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="close()" color="danger">
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-fab (click)="screenShot()">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-fab (click)="presentPopover($event)">
        <ion-icon name="ios-color-fill" [style.color]="color"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>