<ion-header>

    <ion-navbar>
        <ion-title style="z-index:-1">Ajustes</ion-title>
        <ion-buttons end *ngIf="!visitante">

            <button ion-button icon-only  (click)="tomarf()">
                <ion-icon name="camera"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>

    <ion-toolbar style="position: relative;margin:0px;padding:0px" *ngIf="!visitante">
        <img src="{{foto}}" (click)="imagenes()" />
    </ion-toolbar>
    <ion-toolbar style="position: relative;margin:0px;padding:0px" *ngIf="visitante" >
        <img src="{{foto}}" (click)="imagenes()" />
    </ion-toolbar>
    <ion-list>
        <ion-item no-lines>
            <ion-grid>
                <ion-row color="secondary-pets-l">
                    <ion-col>
                        <p>nombre</p>
                        <div style="text-align:center">
                            <h2>{{nombre}}</h2>
                        </div>
                    </ion-col>
                    <ion-col>
                        <p>Apellido</p>
                        <div style="text-align:center">
                            <h2>{{apellido}}</h2>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>Correo</p>
                        <div style="text-align:center">
                            <h2>{{email}}</h2>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-item>
    </ion-list>
     <form #form="ngForm" (ngSubmit)="registro(form.value)" novalidate>
        <ion-list>

           <ion-item class="itemi">
                <ion-label color="pesto-scondary-text" floating>Contraseña</ion-label>
                <ion-input type="text" name='pass' ngModel required #pass="ngModel" [class.invalid]="pass.errors && pass.dirty"
                    minlength="6" ></ion-input>
            </ion-item>
            <ion-item class="error-message itemi" no-lines *ngIf="pass.errors?.required && pass.dirty">
                    <p style="color:red">Contraseña requerida</p>
                </ion-item>

            <ion-item class="itemi">
                <ion-label color="pesto-scondary-text" floating>Contraseña nueva</ion-label>
                <ion-input type="password" name='newpass' ngModel required #newpass="ngModel" [class.invalid]="newpass.errors && newpass.dirty"
                    minlength="6" ></ion-input>
            </ion-item>
            
            <ion-item class="itemi">
                <ion-label color="pesto-scondary-text" floating>Confirmar contraseña </ion-label>
                <ion-input type="password" name='newpass_confirmation' ngModel required #newpass_confirmation="ngModel" [class.invalid]="newpass_confirmation.errors && newpass_confirmation.dirty"
                    minlength="6" ></ion-input>
            </ion-item>
            <ion-item class="error-message itemi" no-lines *ngIf="newpass_confirmation.errors?.required && newpass_confirmation.dirty">
                <p style="color:red">Confirmacion requerida</p>
            </ion-item>
            <ion-item class="error-message itemi" no-lines *ngIf="newpass_confirmation.errors?.minlength && newpass_confirmation.dirty">
                <p style="color:red">Deben ser por lo menos 6 caracteres </p>
            </ion-item>
           
            <br>


            <div style="text-align:center">
                <button ion-button  outline color="secondary-pets-l"  type="submit" [disabled]="!form.valid">Cambiar contraseña</button>
            </div>

            <div style="text-align:center">
                <button ion-button  outline color="secondary-pets-l"  type="button" (click)="cancelar()">Regresar</button>
            </div>
        </ion-list>
    </form> 
</ion-content>