page-profile {
.subtitulo{
    color:#f59805;
}
}
page-imagenes{
    
  ion-slide{
    background-color: black;
  }
      .slide-title {
        margin-top: 2.8rem;
      }
    
    
      b {
        font-weight: 500;
      }
    
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        }
      }
}
page-nmascota{
  ion-content{
    background-image: url('../assets/img/tapiz.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.itemi{
    background-color: transparent !important;
}
.item-ios {

  background-color: transparent !important;
}
$text-input-highlight-color-valid:#32db64;
$text-input-highlight-color-invalid:red;
.text-input{
    color:white;
}
.list-ios > .item-block:first-child{
  border-top: none;
}
.item-md {
  background-color: transparent !important;
}
}
