<ion-header>
  <ion-navbar>
    <ion-title>
      Chat
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newchat()" color="secondary-pets-l">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refrescar($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="refrescando..."></ion-refresher-content>
      </ion-refresher>

  <ion-list>
    <div *ngFor="let item of chats">
      <ion-item (tap)="chat(item)" (press)="eliminar(item,item.usuario2name)" style="background-color: #0A3055 !important;" *ngIf="item.usuario1==miid && item.habilitado1==1">
        <ion-avatar item-start>
          <img src="{{peopleimg(item.img2)}}">
        </ion-avatar>
        <h2 style="color: white">{{item.usuario2name}} {{item.usuario2lastname}}</h2>
        <p item-end style="font-size: 0.6em">
          {{formatofecha(item.fecha)}}
        </p>
        <p>{{item.msj}}</p>
      </ion-item>
      <ion-item (tap)="chat(item)" (press)="eliminar(item,item.usuario1name)" style="background-color: #0A3055 !important;" *ngIf="item.usuario2==miid && item.habilitado2==1">
        <ion-avatar item-start>
          <img src="{{peopleimg(item.img1)}}">
        </ion-avatar>
        <h2 style="color: white">{{item.usuario1name}} {{item.usuario1lastname}}</h2>

        <p item-end style="font-size: 0.6em">
          {{formatofecha(item.fecha)}}
        </p>
        <p>{{item.msj}}</p>
      </ion-item>
    </div>
  </ion-list>


</ion-content>